* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  font-size: 15px;
}

header {
  background-color: turquoise;
  padding: 5px;
  margin-bottom: 15px;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
}

#days {
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.today-title {
  display: flex;
  justify-content: center;
}

.today-title .city-name {
  padding-top: 7px;
}

.card {
  margin-bottom: 10px;
}

.card h4 {
  background-color: turquoise;
}

.form-control {
  margin-top: 5px;
  margin-bottom: 10px;
}

.cols {
  display: flex;
  justify-content: space-between;
}

.cols .badge {
  font-size: large;
}

.cols .card {
  padding-top: 10px;
  background-color: turquoise;
}

.green {
  color: white;
  background-color: green;
}

.yellow {
  color: white;
  background-color: yellow;
}

.orange {
  color: white;
  background-color: orange;
}

.red {
  color: white;
  background-color: red;
}

.purple {
  color: white;
  background-color: purple;
}

@media (max-width: 768px) {
  .cols {
    flex-direction: column;
  }
}